<div class='container'>
  <h1><%= @department.id ? 'Edit Department' : 'Create a Department' %></h1>
</div>
<hr />
<div class='container'>
<%= form_for @department do |d| %>
  <%= d.label :name %>
  <%= d.text_field :name, required: true, autofocus: true %>
  <%= d.submit %>
<% end %>
</div>
<div class='links'>
  <%= link_to 'Back', departments_path %>
</div>