<div class='container'>
  <h1><%= @item.id ? 'Edit item' : 'Create item' %></h1>
</div>
<hr />

<div class='container'>
<%= form_for [@department, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price, required: true %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, required: true %>
  <br />
  <%= f.submit %>
<% end %>
</div>
<br/>
<div class='links'>
  <%=link_to 'Back to Item', department_items_path([@department, @item])%>
</div>