<div class='container'>
  <h1><%= @item.name %></h1>
  <p>$<%= @item.price %></p>
  <p><%= @item.description %></p>
  <p id='department'>In department: <%=@department.name %></p>
  <br/>
  <%# <h2>Comments</h2> %>
</div>
<hr />

<div class='links'>
  <%= link_to 'Edit item', edit_department_item_path([@department, @item]) %>
  <br/>
  <%= link_to 'Delete item', [@department, @item], method: :delete %>
  <br/>
  <%= link_to 'Back To All items', department_items_path%>
  <br/>
</div>